.registro{
    text-align: center;
    margin-top: 20px;
}
div.user{
    display: flex;
    justify-content: center;
    margin:  auto;
}
.user{
    padding: 5px;
}
 input{
    display: grid;
    grid-row: auto;
 }
.font{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

button{
    display: flex;
    margin: auto;
    background-color: rgb(28, 190, 28);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}