<h3 class="font registro">Registro</h3>
<div class="font">
<form [formGroup]="myForm" (ngSubmit)="registrarse()" class="formulario">
    <div class="user">
        <label>Nombre:</label>
        <input type="text" formControlName="nombre">
    </div>
    <div *ngIf="myForm.get('nombre')?.errors && myForm.get('nombre')?.dirty" class="user">
         El campo es obligatorio
    </div>
    <div class="user">
        <label>Apellido:</label>
        <input type="text" formControlName="apellido">
    </div> 
    <div *ngIf="myForm.get('apellido')?.errors && myForm.get('apellido')?.dirty" class="user">
        El campo es obligatorio
   </div>
    <div class="user">  
        <label>Telefono:</label>
        <input type="number">
    </div> 
    <div class="user">   
        <label>Email:</label>
        <input type="email" formControlName="email">
    </div>
    <div *ngIf="myForm.get('email')?.errors && myForm.get('email')?.dirty">
        El campo es obligatorio
   </div> 
    <div class="user"> 
        <label>Contraseña:</label>
        <input type="password" formControlName="clave">
    </div>
    <div *ngIf="myForm.get('clave')?.errors && myForm.get('clave')?.dirty">
        <p *ngIf="myForm.get('clave')?.hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myForm.get('clave')?.hasError('minlength')">La contraseña debe tener entre 6 y 10 caracteres</p>
   </div>    
</form>
   <button type="submit" [disabled]="myForm.invalid">Registrarse</button>
</div>