
  <mat-nav-list class="navBar">
    <mat-list-item class="link" routerLink="/" >
          <mat-icon matListItemIcon>home</mat-icon>
          <div matListItemTitle class="link">Inicio</div>
    </mat-list-item>
    <mat-list-item class="link" routerLink="alta" >
      <mat-icon matListItemIcon>person_add</mat-icon>
      <div matListItemTitle class="link">Registrarse</div>
    </mat-list-item>
    <mat-list-item class="link" routerLink="login" >
      <mat-icon matListItemIcon>login</mat-icon>
      <div matListItemTitle class="link">Ingresar</div>
    </mat-list-item>
    <mat-list-item class="link" routerLink="login" >
      <mat-icon matListItemIcon>logout</mat-icon>
      <div matListItemTitle class="link">Salir</div>
    </mat-list-item>
  </mat-nav-list>
