.navBar{
    background-color: rgb(28, 190, 28);
    padding: 15px;
    display: flex;
}

link{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    list-style-type: none; 
    padding: 20px; 
    cursor: pointer;  
}