.info{
    display: grid;
    float: left;
    grid-template-columns: max-content;
    padding: 10px;
    margin: 0, auto;
}

.font{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h1{
    text-align: center;
}

