.info{
    display: grid;
    float: left;
    grid-template-columns: max-content;
    padding: 10px;
    margin: 5px;
}

.font{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h1{
    text-align: center;
}

button{
    background-color: rgb(28, 190, 28);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}